body {
    margin: 0;
}
.mybtn{
    border-radius: 28px;
    background-image: linear-gradient(to right, rgb(251, 255, 0), rgb(255, 0, 0));
    color: #FFF;
    margin-left: 0;
}

.nav-item{
    background-color: yellowgreen;
}